.appLayout {
  min-height: 85vh;
  background-color: #fafafa;
  background-image: url("/ChatGPT Image 23 июн. 2026 г., 22_11_19.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}